:root {
  --primary-color: #005FAC;
  --white: #ffffff;
  --dark: #151414;
  --dark-80: #444343;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", serif;
}
p {
  font-size: 1rem;
}

/* Common Style */
.section-title {
  color: var(--dark);
  font-size: 2.5rem;
  font-weight: 700;
}
.section-description {
  color: var(--dark-80);
  font-size: 1rem;
  font-weight: 400;
}
.primary-btn {
  color: var(--primary-color);
  background-color: var(--white);
  padding: 20px 35px;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 700;
  border: 0;
  cursor: pointer;
}
section {
  margin: 80px auto;
}

/* Banner Style */
.banner {
  background-image: url('../banner.jpg');
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
  padding: 200px 250px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}
.banner-content {
  max-width: 600px;
  color: var(--white);
}
.banner-content .banner-title {
  font-size: 4.5rem;
}
.banner-content .banner-description {
  margin: 20px 0;
}

/* Main Style */
main {
  margin: 0 250px;
}

/* Banner Style */
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about .about-column {
  width: 50%;
}
.about-column .section-description {
  margin: 20px 0;
}
.about-column ul > li {
  list-style: none;
  color: var(--dark-80);
}
.about-column ul > li > i {
  margin-right: 10px;
  color: lightgreen;
}

/* Plan Style */
.plan {
  text-align: center;
}
.plan-content {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.plan-content .plan-item {
  padding: 50px;
}
.plan-item .plan-title{
  color: var(--dark);
  font-size: 1.8rem;
}
.plan-item .plan-description{
  color: var(--dark-80);
  font-size: 1.4rem;
}

/* Ad Style */
.ad {
  background-image: linear-gradient(to right, var(--primary-color), rgba(255, 255, 255, 0)), url('../ad.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left, top left;
  padding: 80px;
  border-radius: 20px;
}
.ad .section-title {
  color: var(--white);
  margin-bottom: 30px;
  max-width: 600px;
}

/* Footer Style */
footer {
  color: var(--white);
  background-color: var(--dark);
  padding: 100px 250px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.footer-container .footer-column {
  max-width: 50%;
}
.footer-column .section-title {
  color: var(--white);
}
.footer-column .section-description {
  color: var(--white);
  margin: 15px 0;
}

.footer-column address div {
  margin: 20px 0;
}
.footer-column address a{
  text-decoration: none;
  color: var(--white);
}
.footer-column .social-icons a {
  margin-right: 10px;
}
.footer-column .subscribe {
  font-size: 1.5rem;
}
.footer-column input {
  color: var(--dark-80);
  font-size: 1rem;
  background-color: transparent;
  display: block;
  padding: 15px 30px;
  margin: 20px 0;
  border: 1px solid var(--white);
  border-radius: 5px;
}
.footer-column button {
  color: var(--white);
  background-color: var(--primary-color);
}